<p id="notice"><%= notice %></p>

<p>
  <strong>Individual:</strong>
  <%= @individual_company_investment.individual_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @individual_company_investment.company_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @individual_company_investment.amount %>
</p>

<p>
  <strong>Buy date:</strong>
  <%= @individual_company_investment.buy_date %>
</p>

<p>
  <strong>Sell date:</strong>
  <%= @individual_company_investment.sell_date %>
</p>

<%= link_to 'Edit', edit_individual_company_investment_path(@individual_company_investment) %> |
<%= link_to 'Back', individual_company_investments_path %>
