<div class="search_container pull-right">

  <%= form_tag  do %>

    <table><tr>
      <td><%= text_field_tag :search, params[:search], :class => "input-medium form-control", :placeholder => "Search portfolios..." %></td>
      <td><button type="submit" class="btn btn-primary btn-small" style="margin-left: 10px"><span class="glyphicon glyphicon-search"></span></button></td>
    </tr></table>

  <% end %>

</div>

<h1>Listing portfolios</h1>
<em>Listing <strong><%= @portfolios.count() %></strong> portfolios</em><br /><br />

<table class="table table-condensed table-hover model-list">
  <thead style="font-size: 14px">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Starting Cash</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolios.each do |portfolio| %>
      <tr>
        <td><strong><%= portfolio.id %></strong>:</td>
        <td><%= link_to portfolio do %><%= portfolio.name %><% end %></td>
        <td><%= portfolio.cash.format %></td>
        <td><%= link_to 'Delete', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td></td><td></td><td></td><td></td><td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portfolio', new_portfolio_path %>
