<h2 style="margin: 0"><%= @portfolio.name %></h2>


<div class="indent">

<p>
  <strong>Starting Cash:</strong>
  <span class="label label-success"><%= @portfolio.cash.format %></span>
</p>

<p>
  <strong>Created at:</strong>
  <%= @portfolio.start_date.strftime("%m-%d-%Y") %>
</p>

<br />

<div class="row showInvestmentsTable">
  <div class="col-md-6 companiesInvestments">
    <p>
      <h4>Investments</h4>

    	<% @portfolio.fund_company_investments.each do |i| %>
        <table class="table table-condensed">
            <thead>
              <tr>
                <th>Company</th>
                <th>Amount</th>
                <th>Buy date</th>
                <th>Sell date</th>
                <th>ROI</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong><%= link_to i.company do %><span class="label label-info"><%= i.company.name %></span><% end %> </strong>&nbsp;</td>
                <td>$<%= i.amount %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><%= i.buy_date.strftime("%m-%d-%Y") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><%= i.sell_date.strftime("%m-%d-%Y") %></td>
                <% @ROI = getTotalInvestmentROI(i) %>
                <% if @ROI < 1 -%>
                    <td style="color: #DE2626"><%= @ROI.round(4) %></td>
                  <% else %>
                    <td style="color: #00DE0F"><%= @ROI.round(4) %></td>
                  <% end %>
              </tr>
            </tbody>
        </table>
      <% end %>

    </p>
  </div>

  <div class="col-md-6 companiesInvestments">
      <p>
        <h4>Investors</h4>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Portfolio</th>
                  <th>Amount</th>
                  <th>Buy date</th>
                  <th>Sell date</th>
                </tr>
              </thead>
              <tbody>

          <% @portfolio.individual_portfolio_investments.each do |i| %>
                <tr>
                  <td><strong><%= link_to i.individual do %><span class="label label-primary"><%= i.individual.name %></span><% end %></strong>&nbsp;</td>
                  <td>$<%= i.amount %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td><%= i.buy_date.strftime("%m-%d-%Y") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td><%= i.sell_date %></td>
                </tr>

            <% end %>

            </tbody>
          </table>

      </p>
    </div>

</div>

</div>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
<%= link_to '(Show Investable)', controller: :investables, action: :show, :id => @portfolio.investable_id %>
