<h2 style="margin: 0"><%= @portfolio.name %></h2>


<div class="indent">

<p>
  <strong>Starting Cash:</strong>
  <span class="label label-success"><%= @portfolio.cash.format %></span>
</p>

<p>
  <strong>Net Worth:</strong>
  <%= @portfolio.net_worth.format %>
</p>

<p>
  <strong>Total Return:</strong>
  <%= @portfolio.total_return.round(2) %>
</p>

<p>
  <strong>Majority Participant:</strong>
  <% if !@portfolio.individual_portfolio_investments.order(percentage: :desc).first.nil? %> 
    <span class="label label-default"><%= @portfolio.individual_portfolio_investments.order(percentage: :desc).first.individual.name %></span>
  <% else %>
    nobody
  <% end %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @portfolio.start_date.strftime("%m-%d-%Y") %>
</p>

<br />

<div class="row showInvestmentsTable">
  <div class="col-md-6 companiesInvestments">
    <p>
      <h4>Investments</h4>

      <table class="table table-condensed">
            <thead>
              <tr>
                <th>Company</th>
                <th>Amount</th>
                <th>Buy date</th>
                <th>Sell date</th>
              </tr>
            </thead>
            <tbody>

    	<% @portfolio.fund_company_investments.each do |i| %>
        
          <tr>
            <td><strong><%= link_to i.company do %><span class="label label-info"><%= i.company.name %></span><% end %> </strong>&nbsp;</td>
            <td>$<%= i.amount %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><%= i.buy_date.strftime("%m-%d-%Y") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><%= i.sell_date %></td>
          </tr>

      <% end %>

          </tbody>
        </table>

    </p>
  </div>

  <div class="col-md-6 companiesInvestments">
      <p>
        <h4>Investors</h4>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Portfolio</th>
                  <th>Amount</th>
                  <th>Buy date</th>
                  <th>Sell date</th>
                </tr>
              </thead>
              <tbody>

          <% @portfolio.individual_portfolio_investments.each do |i| %>
                <tr>
                  <td><strong><%= link_to i.individual do %><span class="label label-primary"><%= i.individual.name %></span><% end %></strong>&nbsp;</td>
                  <td>$<%= i.amount %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td><%= i.buy_date.strftime("%m-%d-%Y") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td><%= i.sell_date %></td>
                </tr>

            <% end %>

            </tbody>
          </table>

      </p>
    </div>

</div>

</div>

<h4 style="margin-left: 15px">Value Over Time</h4>
<table style="margin-left: 25px; margin-bottom: 10px;">
  <% @portfolio.portfolio_snapshots.each do |s| %>
      <tr>
        <td><%= s.date.strftime("%m-%d-%Y") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= s.amount.format %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
<%= link_to '(Show Investable)', controller: :investables, action: :show, :id => @portfolio.investable_id %>
