<div class="search_container pull-right">

  <%= form_tag individuals_search_path, method: :post do %>

    <table><tr>
      <td><%= text_field_tag 'search', "", :class => "input-medium form-control", :placeholder => "Search individuals..." %></td>
      <td><button type="submit" class="btn btn-primary btn-small" style="margin-left: 10px"><span class="glyphicon glyphicon-search"></span></button></td>
    </tr></table>

  <% end %>

</div>

<h1>Listing individuals</h1>
<em>&nbsp;&nbsp;Listing <strong><%= @individuals.count() %></strong> individuals</em><br /><br />

<div class="row">

  <div class="col-md-8">
    <table class="table table-condensed table-hover model-list">
      <thead style="font-size: 14px">
        <tr>
          <th>Name</th>
          <th>Cash</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @individuals.each do |individual| %>
          <tr>
            <td><%= link_to individual do %><%= individual.name %><% end %></td>
            <td><%= individual.cash %></td>
            <td><%= link_to 'Delete', individual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td></td><td></td><td></td><td></td><td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

    <div class="col-md-4">

    <div class="homeHighlightBox topList" style="margin-top: 23px">
      <div class="title"><h3 style="font-size: 20px">Top Net Worth</h3></div>
      <div class="subtitle"><em>Top 10 individuals</em></div>
      <div class="data">
        <table>
          <% @individuals.order(net_worth_cents: :desc).take(10).each_with_index do |p, i| %>
            <tr>
              <td><%= i+1 %>:&nbsp;</td>
              <td><%= link_to p do %><span class="label label-info label-front-page"><%= p.name %></span><% end %>&nbsp;&nbsp;&nbsp;</td>
              <td><%= p.net_worth.format %>&nbsp;&nbsp;</td></tr>
            <tr><td colspan="2" class="spacing-td"></td></tr>
          <% end %>
        </table>
      </div>  <!-- row date-->
    </div>  <!-- row homeHighlightBox-->

    <br /><br />

    <div class="homeHighlightBox topList">
      <div class="title"><h3 style="font-size: 20px">Top Total Return</h3></div>
      <div class="subtitle"><em>Top 10 individuals</em></div>
      <div class="data">
        <table>
          <% @individuals.order(total_return: :desc).take(10).each_with_index do |p, i| %>
            <tr>
              <td><%= i+1 %>:&nbsp;</td>
              <td><%= link_to p do %><span class="label label-info label-front-page"><%= p.name %></span><% end %>&nbsp;&nbsp;&nbsp;</td>
              <td><%= p.total_return.round(4) %>&nbsp;&nbsp;</td></tr>
            <tr><td colspan="2" class="spacing-td"></td></tr>
          <% end %>
        </table>
      </div>  <!-- row date-->
    </div>  <!-- row homeHighlightBox-->

  </div>


</div>

<br>

<%= link_to 'New Individual', new_individual_path %>
