<div class="search_container pull-right">

  <%= form_tag  do %>

    <table><tr>
      <td><%= text_field_tag :search, params[:search], :class => "input-medium form-control", :placeholder => "Search individuals..." %></td>
      <td><button type="submit" class="btn btn-primary btn-small" style="margin-left: 10px"><span class="glyphicon glyphicon-search"></span></button></td>
    </tr></table>

  <% end %>

</div>

<h1>Listing individuals</h1>
<em>Listing <strong><%= @individuals.count() %></strong> individuals</em><br /><br />

<table class="table table-condensed table-hover model-list">
  <thead style="font-size: 14px">
    <tr>
      <th>Name</th>
      <th>Cash</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @individuals.each do |individual| %>
      <tr>
        <td><%= link_to individual do %><%= individual.name %><% end %></td>
        <td><%= individual.cash %></td>
        <td><%= link_to 'Delete', individual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td></td><td></td><td></td><td></td><td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Individual', new_individual_path %>
