<h2 style="margin: 0"><%= @individual.name %></h2>

<div class="indent">
<p>
  <strong>Starting cash:</strong>
  <span class="label label-success"><%= @individual.cash.format %></span>
</p>

<p>
  <strong>Created at:</strong>
  <%= @individual.start_date.strftime("%m-%d-%Y") %>
</p>

<br />

  <div class="row showInvestmentsTable">

    <div class="col-md-6 companiesInvestments">
      <p>
        <h4>Investments</h4>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Company</th>
                  <th>Amount</th>
                  <th>Buy date</th>
                  <th>Sell date</th>
                </tr>
              </thead>
              <tbody>

          <% @individual.individual_company_investments.each do |i| %>
                <tr>
                  <td><strong><%= link_to i.company do %><span class="label label-info"><%= i.company.name %></span><% end %> </strong>&nbsp;</td>
                  <td>$<%= i.amount %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td><%= i.buy_date.strftime("%m-%d-%Y") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td><%= i.sell_date %></td>
                </tr>

            <% end %>

            </tbody>
          </table>

      </p>
    </div>

    <div class="col-md-6 companiesInvestments">
      <p>
        <h4>Portfolio Investments</h4>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Portfolio</th>
                  <th>Amount</th>
                  <th>Percentage</th>
                  <th>Buy date</th>
                  <th>Sell date</th>
                </tr>
              </thead>
              <tbody>

          <% @individual.individual_portfolio_investments.each do |i| %>

                <tr>
                  <td><strong><%= link_to i.portfolio do %><span class="label label-primary"><%= i.portfolio.name %></span><% end %></strong>&nbsp;</td>
                  <td>$<%= i.amount %></td>
                  <td><%= (i.percentage*100).round(2) %>%</td>
                  <td><%= i.buy_date.strftime("%m-%d-%Y") %></td>
                  <td><%= i.sell_date %></td>
                </tr>

            <% end %>

            </tbody>
          </table>

      </p>
    </div>


  </div>

</div>

<h4 style="margin-left: 15px">Value Over Time</h4>
<table style="margin-left: 25px; margin-bottom: 10px;">
  <% @individual.individual_snapshots.each do |s| %>
      <tr>
        <td><%= s.date.strftime("%m-%d-%Y") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= s.amount.format %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_individual_path(@individual) %> |
<%= link_to 'Back', individuals_path %>
<%= link_to '(Show Investable)', controller: :investables, action: :show, :id => @individual.investable_id %>
