<h1>Listing companies</h1>
<em>Listing <strong><%= @companies.count() %></strong> companies</em><br /><br />

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Investable</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><strong><%= company.id %>:</strong>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= link_to company.name, company %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= company.investable_id %></td>

        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
