<h2 style="margin-bottom: 0px"><%= @company.name %></h2>
<em><%= @company.full_name %></em>

<div class="indent">

  <% if @company.strict_increasing %>
    <p>
      <span class="label label-success">Strictly increasing</span>
    </p>
  <% end %>

  <p>
    <strong>Risk:</strong>
      %<%= @company.risk.round(4)*100 %>
  </p>

  <p>
    <strong>Total return:</strong>
    <%= @company.total_return.round(4) %>
  </p>

  <p>
    <strong>Annualized Rate of Return:</strong>
    %<%= @company.annualized_ror.round(4)*100 %>
  </p>

  <p>
    <strong>Stock quotes </strong>(ID, date, price, company_id):<br />
    <em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Listing 10 of <strong><%= @company.quotes.count() %></strong> quotes</em>

  	<% @company.quotes.take(10).each do |quote| %>
      <table><tr>
      	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><strong><%= quote.id %>: </strong>&nbsp;</td>
        <td><%= quote.date.strftime("%m-%d-%Y") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= quote.price.format %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= quote.company_id %></td>
      </tr></table>
    <% end %>

  </p>

</div>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
<%= link_to '(Show Investable)', controller: :investables, action: :show, :id => @company.investable_id %>
