<h1>Listing investables</h1>
<em>Listing <strong><%= @investables.count() %></strong> investable entities</em><br /><br />

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Iscompany</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @investables.each do |investable| %>
      <tr>
        <td><strong><%= investable.id %>:</strong>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= investable.name %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= investable.isCompany %></td>
        <td><%= link_to 'Show', investable %></td>
        <td><%= link_to 'Edit', edit_investable_path(investable) %></td>
        <td><%= link_to 'Destroy', investable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investable', new_investable_path %>
