<!DOCTYPE html>
<html>
<head>
  <title>Stockerator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

	<div id="header">

		<div class="container headertext">

				<div class="navigation">

					<table>
						<tr>
							<td id="transactionIcon">
								<%= link_to controller: :investments, action: :new do %> 
									<div id="inputRecordsBTN"><table><tr><td valign="middle"><span class="glyphicon glyphicon-transfer"></span></td><td valign="middle"><div id="text">Input Records</div></td></tr></table> </div>
								<% end %> 
							</td>

							<td id="transactionIcon">
								<%= link_to controller: :investments, action: :new do %> 
									<div id="inputRecordsBTN"><table><tr><td valign="middle"><span style="position: relative; top: -3px" class="glyphicon glyphicon-stats"></span></td><td valign="middle"><div id="text">Compare</div></td></tr></table> </div>
								<% end %> 
							</td>

							<td style="padding-left: 5px"><%= link_to controller: :individuals do %> <span class="glyphicon glyphicon-user"></span> <% end %> </td>
							<td><%= link_to controller: :portfolios do %> <span class="glyphicon glyphicon-folder-open"></span> <% end %> </td>
							<td><%= link_to controller: :companies do %> <span class="glyphicon glyphicon-list"></span> <% end %> </td>
						</tr>
					</table>

				</div>

				<%= link_to '/' do %>
					<strong>Stockerator</strong><br /><em><span id="headersmall">A CMSC424 project by Jack Lotkowski, Spring 2014</span></em>
				<% end %>

		</div>

	</div>

	<div id="headerBottomBorder"></div>

	<div class="container applicationContainer">
		<div class="mainContainer">

			<% flash.each do |name, msg| -%>
			    <div class="alert alert-<%= name %> alert-dismissable">
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			    <%= msg %>
			  </div>
			<% end -%>
			
			<%= yield %>
		</div>
	</div>

</body>
</html>