<!DOCTYPE html>
<html>
<head>
  <title>Stockerator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">

		<div class="container headertext">

				<div class="navigation">

					<table>
						<tr>
							<td><%= link_to '' do %> <span class="glyphicon glyphicon-transfer"></span> <% end %> </td>
							<td><%= link_to controller: :companies do %> <span class="glyphicon glyphicon-stats"></span> <% end %> </td>
							<td><%= link_to controller: :portfolios do %> <span class="glyphicon glyphicon-folder-open"></span> <% end %> </td>
							<td><%= link_to controller: :portfolios do %> <span class="glyphicon glyphicon-user"></span> <% end %> </td>
						</tr>
					</table>

				</div>

				<%= link_to '/' do %>
					<strong>Stockerator</strong><br /><em><span id="headersmall">A CMSC424 project by Jack Lotkowski, Spring 2014</span></em>
				<% end %>

		</div>

	</div>

	<div class="container applicationContainer">
		<div class="mainContainer">
			<%= yield %>
		</div>
	</div>

</body>
</html>